<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>404-Not Found</title>
    <style type="text/css" media="all"
    >
    
      div{
        text-align: center;
        margin-top: 250px;
      }
      a{
        text-decoration: none;
        color: black;
      }
      .ret{
        background-color: white;
        margin-top: 50px;
        border: 1px solid gray;
        padding: 10px;
        border-radius: 5px;
      }
      .ret:hover{
        background-color: gray;
        
      }
    </style>
  </head>
  <body>
    <div>
      <h1>404</h1>
      <b>Not found page</b><br />
      <button class="ret"><a href="/">Return Home</a></button>
    </div>
  </body>
</html>